<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="cadena_conexion" connectionString=
			 "Data source=localhost\SQLEXPRESS;
			 initial catalog= DBSISTEMA_GLOWUP;
			 INTEGRATED SECURITY=True" 
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>

<!--< PUNTO_VENTA_GLOW>-->